.App {
  text-align: center;
}

.App-header {
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  text-decoration: underline;
}

.error {
    color: #d83229;
    font-size: 1.5rem;
    padding-top: 5px;
}