.withdraw-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balance {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.history {
  text-align: center;
}

.history-amount {
  color: lightgreen;
}

.credentials-info {
  color: lightgoldenrodyellow;
}

.history__record {
  margin-top: 7px;
  font-size: 1.2rem;
}

.transfer-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap {
  margin: 10px 0;
}
